@font-face {
  font-family: liberator;
  src: url("../fonts/liberator.ttf"); }

body {
  background-color: #111; }

.header {
  background: url("../img/brick.jpg") no-repeat;
  background-image: -webkit-linear-gradient(rgba(17, 17, 17, 0) 0%, #111111 100%), url("../img/brick.jpg");
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, black 100%), url("../img/brick.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, black 100%), url("../img/brick.jpg");
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0) 0%, black 100%), url("../img/brick.jpg");
  background-image: linear-gradient(rgba(17, 17, 17, 0) 50%, #111111 100%), url("../img/brick.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 75px 0px 50px 0px; }
  .header p {
    font-family: 'Text Me One', sans-serif;
    display: inline-block;
    text-align: center;
    font-size: 80px;
    width: 400px;
    border-style: solid;
    border-width: 3px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; }
  .header h3 {
    font-family: 'Text Me One', sans-serif;
    display: inline-block;
    text-align: center;
    font-size: 26px;
    margin: 5px 0px 5px 0px; }

.menu {
  color: white;
  font-family: liberator;
  font-size: 22px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 20px;
  z-index: 100; }
  .menu a {
    text-decoration: none;
    color: white; }
  .menu a:hover {
    color: #bdc3c7; }
  .menu span {
    border-bottom: 3px solid white; }
    .menu span:hover {
      border-color: #bdc3c7; }

.tagline {
  margin-top: 50px;
  color: white;
  margin-bottom: 75px; }
  .tagline h1 {
    font-family: liberator;
    font-size: 70px;
    text-shadow: -2px -2px 0px red, 2px 2px 0px silver; }
  .tagline span {
    color: #eb0808; }
  .tagline a {
    color: white;
    text-decoration: none; }

.tag {
  border: 1px solid white;
  background: url("../img/hackathon.jpg") no-repeat;
  background-size: 100%;
  padding: 30px; }
  .tag:hover {
    background: url("../img/hackathon-color.jpg") no-repeat;
    background-size: 100%; }

.info {
  border: 1px solid white;
  padding: 50px 0px 50px 0px;
  min-height: 150px;
  background: url("../img/code.jpg") no-repeat;
  background-size: 100%; }
  .info:hover {
    background: url("../img/code-color.jpg") no-repeat;
    background-size: 100%; }
  .info h1 {
    font-size: 40px; }

.apply {
  border: 1px solid white;
  padding: 50px 0px 50px 0px;
  min-height: 150px;
  background: url("../img/apply.jpg") no-repeat;
  background-size: 100%; }
  .apply:hover {
    background: url("../img/apply-color.jpg") no-repeat;
    background-size: 100%; }
  .apply h1 {
    font-size: 40px; }

.red {
  color: #fcbdae;
  text-shadow: 0 0 8px #fc0b03, 0 0 8px #fc0b03, 0 0 8px #fc0b03, 0 0 60px #f5073b, 0 0 60px #f5073b, 0 0 60px #f5073b, 0 0 60px #f5073b, 0px 12px 10px #000000;
  border-color: #fcbdae;
  -webkit-box-shadow: 0 0 10px 2px rgba(252, 11, 3, 0.7) inset, 0 0 10px 2px rgba(252, 11, 3, 0.7), 0 0 70px 2px rgba(245, 7, 59, 0.6) inset, 0 0 60px 2px rgba(245, 7, 59, 0.6), 0 6px 8px 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 10px 2px rgba(252, 11, 3, 0.7) inset, 0 0 10px 2px rgba(252, 11, 3, 0.7), 0 0 70px 2px rgba(245, 7, 59, 0.6) inset, 0 0 60px 2px rgba(245, 7, 59, 0.6), 0 6px 8px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px 2px rgba(252, 11, 3, 0.7) inset, 0 0 10px 2px rgba(252, 11, 3, 0.7), 0 0 70px 2px rgba(245, 7, 59, 0.6) inset, 0 0 60px 2px rgba(245, 7, 59, 0.6), 0 6px 8px 2px rgba(0, 0, 0, 0.8); }

.redletter {
  color: #fcbdae;
  text-shadow: 0 0 8px #fc0b03, 0 0 8px #fc0b03, 0 0 8px #fc0b03, 0 0 60px #f5073b, 0 0 60px #f5073b, 0 0 60px #f5073b, 0 0 60px #f5073b, 0px 12px 10px #000000; }
