@font-face {
	font-family: liberator;
	src: url('../fonts/liberator.ttf');
}

body {
	background-color: #111;
}

.header {
	background: url('../img/brick.jpg') no-repeat; 
	background-image: -webkit-linear-gradient(rgba(17,17,17, 0) 0%,rgba(17,17,17, 1) 100%), url('../img/brick.jpg');
	background-image:  -moz-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url('../img/brick.jpg');
	background-image:  -o-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url('../img/brick.jpg');
	background-image:  -ms-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url('../img/brick.jpg');
	background-image:  linear-gradient(rgba(17,17,17, 0) 50%,rgba(17, 17, 17, 1) 100%), url('../img/brick.jpg');
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	padding: 75px 0px 50px 0px;
	p 
	{
		font-family: 'Text Me One', sans-serif;
		display:inline-block;
		text-align: center;
		font-size:80px;
		width:400px;
		border-style:solid;
		border-width:3px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
	h3 {
		font-family: 'Text Me One', sans-serif;
		display:inline-block;
		text-align: center;
		font-size:26px;
		margin: 5px 0px 5px 0px;
	}
}

.menu {
	color:white;
	font-family:liberator;
	font-size:22px;
	position: -webkit-sticky;
  	position: -moz-sticky;
  	position: -ms-sticky;
  	position: -o-sticky;
  	position: sticky;
  	background-color:#111;
  	top: 0px;
  	padding-top:10px;
  	z-index: 100;
  	a {
  		text-decoration:none;
  		color:white;
  	}
  	a:hover {
  		color:#bdc3c7;
  	}
  	span {
  		border-bottom: 3px solid white;
  		&:hover {
  			border-color:#bdc3c7
  		}
  	}
}

.tagline {
	margin-top:50px;
	color:white;
	h1 {
		font-family: liberator;
		font-size:70px;
		text-shadow: -2px -2px 0px rgba(255, 0, 0, 1), 2px 2px 0px rgba(192, 192, 192, 1);

	}
	span {
		color:#eb0808;
	}
	margin-bottom:75px;
	a {
		color:white;
		text-decoration:none;
	}
}
.tag {
	border: 1px solid #6e6e6e;
	background: url('../img/plan.jpg') no-repeat 40%;
	background-size: 100%;
	padding: 30px;
}

.info {
	border: 1px solid #6e6e6e;
	padding: 50px 0px 50px 0px;
	min-height:150px;
	background: url('../img/code-color.jpg') no-repeat;
	background-size: 100%;
	&:hover {
		opacity:0.8;
	}
	h1 {
		font-size:40px;
	}
}

.apply {
	border: 1px solid #6e6e6e;
	padding: 50px 0px 50px 0px;
	min-height:150px;
	background: url('../img/apply-color.jpg') no-repeat;
	background-size: 100%;
	&:hover {
		opacity:0.8;
	}
	h1 {
		font-size:40px;
	}
}

.sponsors {
	border: 1px solid #6e6e6e;
	padding: 30px;
	h1 {
		font-size:35px;
	}
}

.faq {
	color:white;
	margin-top: 50px;
	h1 {
		color:white;
		font-family: liberator;
		font-size:35px;
		text-shadow: -2px -2px 0px rgba(255, 0, 0, 1), 2px 2px 0px rgba(192, 192, 192, 1);
	}
	margin-bottom:50px;
	a {
		color:red;
		text-decoration:none;
		&:hover {
			opacity:0.8;
		}
	}
}

.information {
	border: 1px solid #6e6e6e;
	padding: 30px;
}

.question {
	margin-bottom:50px;
}

.prizes {
	margin-top: 50px;
	margin-bottom: 50px;
}

.quote {
	background: url('../img/gandhi.jpg') no-repeat 10% 10%;
	padding: 40px 30px 40px 30px;
	background-size:120%;
	border: 1px solid #6e6e6e;
	h1 {
		font-family: liberator;
		text-shadow: -2px -2px 0px rgba(255, 0, 0, 1), 2px 2px 0px rgba(192, 192, 192, 1);
	}
	h3 {
		margin: 5px 0px 0px 0px;
		font-family: liberator;
		text-shadow: -1px -1px 0px rgba(255, 0, 0, 1), 1px 1px 0px rgba(192, 192, 192, 1);
		font-size:18px;
	}
	color:white;
}

.quote1 {
	background: url('../img/sheen.jpg') no-repeat 10% 20%;
	padding: 40px 30px 40px 30px;
	background-size:100%;
	border: 1px solid #6e6e6e;
	h1 {
		font-family: liberator;
		text-shadow: -2px -2px 0px rgba(255, 0, 0, 1), 2px 2px 0px rgba(192, 192, 192, 1);
	}
	h3 {
		margin: 5px 0px 0px 0px;
		font-family: liberator;
		text-shadow: -1px -1px 0px rgba(255, 0, 0, 1), 1px 1px 0px rgba(192, 192, 192, 1);
		font-size:18px;
	}
	color:white;
}

.places {
	border: 1px solid #6e6e6e;
	padding: 30px;
	color:white;
	h1 {
		font-family: liberator;
	}
	h2 {
		font-family: liberator;
	}
	h3 {
		font-family: liberator;
		font-size:15px;
	}
}

.application {
	margin-top: 50px;
	margin-bottom: 50px;
	h1 {
		font-family: liberator;
		font-size: 24px;
		color:white;
	}
}

.form-control {
	border-radius:0px !important;
	background-color:transparent;
	color:white;
	&:focus {outline: none;
  	border:1px solid #6e6e6e !important;
  	box-shadow:none !important;}
}

.awesome {
	border: 1px solid white;
	background-color:transparent;
	color:white;
	padding: 10px 20px 10px 20px;
	&:hover {
		border-color: #6e6e6e;
	}
}

.aboutapp {
	background: url('../img/sleep.jpg') no-repeat;
	background-size:100%;
	border: 1px solid #6e6e6e;
	padding: 30px;
	h1 {
		font-family: liberator;
		text-shadow: -1px -1px 0px rgba(255, 0, 0, 1), 1px 1px 0px rgba(192, 192, 192, 1);
		color:white;
	}
}

.app {
	padding: 30px;
	color:white;
	border: 1px #6e6e6e solid;
}

.about {
	margin-top: 50px;
	margin-bottom:50px;
	a {
		color:red;
		text-decoration:none;
	}
}

.desp {
	padding: 30px;
	color:white;
	border: 1px #6e6e6e solid;
}

.picture {
	border: 1px solid #6e6e6e;
	color:white;
	p {
		padding: 5px 10px 0px 10px;
	}
	a {
		color:white;
		text-decoration:none;
	}
}

.plan {
	margin-top: 50px;
	margin-bottom: 50px;
	a {
		text-decoration:none;
	}

}

.facebook {
	padding: 30px;
	border: 1px solid #6e6e6e;
	color:white;
	background: url('../img/facebook.jpg') no-repeat;
	background-size:100%;
	min-height:150px;
	h1 {
		font-family: liberator;
		text-shadow: -1px -1px 0px rgba(255, 0, 0, 1), 1px 1px 0px rgba(192, 192, 192, 1);
	}
	a {
		color:white;
		text-decoration:none;
		border:0px;
	}
	&:hover {
		opacity:0.8;
	}
}

.travel {
	padding: 30px;
	border: 1px solid #6e6e6e;
	color:white;
	background: url('../img/virgin.jpg') no-repeat;
	background-size:100%;
	min-height:150px;
	max-height:150px;
	h1 {
		font-family: liberator;
		text-shadow: -1px -1px 0px rgba(255, 0, 0, 1), 1px 1px 0px rgba(192, 192, 192, 1);
	}
	a {
		color:white;
		text-decoration:none;
		border:0px;
	}
	&:hover {
		opacity:0.8;
	}
}

.rundown {
	border: 1px solid #6e6e6e;
	color:white;
	padding: 30px;
	background: url('../img/hackathon-color.jpg') no-repeat;
	background-size: 100%;
	h3 {
		font-family: liberator;
		line-height:40px;
	}
	span {
		border-bottom: 3px solid white;
	}
}

.schedule {
	margin-bottom: 30px;
	color:white;
	h1 {
		font-family: liberator;
		text-shadow: -1px -1px 0px rgba(255, 0, 0, 1), 1px 1px 0px rgba(192, 192, 192, 1);
		line-height:40px;
		font-size: 30px;
	}
}

.inner {
	border: 1px solid #6e6e6e;
}

@mixin sections {
	padding: 30px;
	&:hover {
		opacity: 0.8;
	}
}

.start {
	padding: 30px;
}

.s1 {
	@include sections;
	background: url('../img/s1.jpg') no-repeat 10%;
	background-size: 100%;
}

.s2 {
	@include sections;
	background: url('../img/s2.jpg') no-repeat 10%;
	background-size: 100%;
}

.s3 {
	@include sections;
	background: url('../img/s3.jpg') no-repeat 50%;
	background-size: 100%;
}

.s4 {
	@include sections;
	background: url('../img/s4.jpg') no-repeat 0%;
	background-size: 100%;
}
.s5 {
	@include sections;
	background: url('../img/s5.jpg') no-repeat 100%;
	background-size: 100%;
}

.s6 {
	@include sections;
	background: url('../img/s6.jpg') no-repeat 3%;
	background-size: 100%;
}

.s7 {
	@include sections;
	background: url('../img/s7.jpg') no-repeat 3%;
	background-size: 100%;
}

.s8 {
	@include sections;
	background: url('../img/s8.jpg') no-repeat 3%;
	background-size: 100%;
}

.s9 {
	@include sections;
	background: url('../img/s9.jpg') no-repeat 3%;
	background-size: 100%;
}

.s10 {
	@include sections;
	background: url('../img/s10.jpg') no-repeat 3%;
	background-size: 100%;
}

.s11 {
	@include sections;
	background: url('../img/s11.jpg') no-repeat 50%;
	background-size: 100%;
}

.red {
	color:#fcbdae;	
	text-shadow: 
	0 0 8px #fc0b03,
	0 0 8px #fc0b03,
	0 0 8px #fc0b03,
	0 0 60px #f5073b,
	0 0 60px #f5073b,
	0 0 60px #f5073b,
	0 0 60px #f5073b,
	0px 12px 10px #000000;
	border-color:#fcbdae;
	-webkit-box-shadow:	
	0 0 10px 2px rgba(252, 11, 3, 0.7) inset, 0 0 10px 2px rgba(252, 11, 3, 0.7),
	0 0 70px 2px rgba(245, 7, 59, 0.6) inset, 0 0 60px 2px rgba(245, 7, 59, 0.6),
   	0 6px 8px 2px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 	
	0 0 10px 2px rgba(252, 11, 3, 0.7) inset, 0 0 10px 2px rgba(252, 11, 3, 0.7),
	0 0 70px 2px rgba(245, 7, 59, 0.6) inset, 0 0 60px 2px rgba(245, 7, 59, 0.6),
   	0 6px 8px 2px rgba(0, 0, 0, 0.8);
	box-shadow: 
	0 0 10px 2px rgba(252, 11, 3, 0.7) inset, 0 0 10px 2px rgba(252, 11, 3, 0.7),
	0 0 70px 2px rgba(245, 7, 59, 0.6) inset, 0 0 60px 2px rgba(245, 7, 59, 0.6),
   	0 6px 8px 2px rgba(0, 0, 0, 0.8);
}

.redletter {
	color:#fcbdae;	
	text-shadow: 
	0 0 8px #fc0b03,
	0 0 8px #fc0b03,
	0 0 8px #fc0b03,
	0 0 60px #f5073b,
	0 0 60px #f5073b,
	0 0 60px #f5073b,
	0 0 60px #f5073b,
	0px 12px 10px #000000;
}
